header {
  display: flex;
  justify-content: center;
  height: 220px;
  margin-top: -40px;
}
header > p {
  font-size: 80px;
  font-family: "Sofia";
  color: darkgreen;
  font-weight: bold;
}

body {
  background-image: url(notes_photos/tile.jpg);
}
section {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.inputs_field {
  position: absolute;
  padding-top: 25px;
  font-size: 20px;
}
#textarea {
  width: 400px;
  height: 150px;
  background-color: papayawhip;
}

.div_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.new_note {
  height: 241px;
  width: 184px;
  transition: ease-in-out 4s;
}

.delete {
  position: relative;
  left: 4px;
  top: -234px;
  color: red;
}
.delete:hover{
  cursor: pointer;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.4;
  -webkit-transition: opacity .80s ease-in-out;
  -moz-transition: opacity .80s ease-in-out;
  -ms-transition: opacity .80s ease-in-out;
  -o-transition: opacity .80s ease-in-out;
  transition: opacity .80s ease-in-out;
}

.add_text {
  position: relative;
    top: -191px;
    word-break: break-all;
}
.card_div{
  height: 249px;
  overflow: auto; 
}
